html {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    display: flex;
    justify-content: flex-start;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(43, 80, 148);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 80, 148);
    overflow: hidden;
    font-size: 2rem;
}

.nav-bar a {
    color: white;
    padding: 1rem 1rem;
}

.nav-bar a:hover {
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(43, 80, 148);
}

.photos {
    display: flex;
}